<div class="container  position-relative" id="custom-cards">
  <h2 class="pb-2 border-bottom">More To Shop</h2>
  <div class="owl-carousel owl-theme">
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide1-image1.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide1-image2.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image4.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
                  </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image3.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="card shadow-sm">
              <img src="images/slide2-image5.jpg" />
              <div class="card-body">
                  <div>
                      <h2>US Store</h2>
                  </div>
                  <p class="card-text">Dark Psychology Secrets</p>
                  <p class="card-text">25$</p>
              </div>
          </div>
      </div>
  </div>
</div>
