<footer class="footer a mb-5 mt-4">
  <div class="container">
    <div class="row text-center">
      <h2 class="mb-4">{{'footer.footerWhite.title'|translate}}</h2>


      <div class="col-md-4">
        <h5>{{'footer.footerWhite.sections.wearAllDayComfort.title'|translate}}</h5>
        <p>{{'footer.footerWhite.sections.wearAllDayComfort.description'|translate}}
          <br><a href="#">{{'footer.footerWhite.sections.wearAllDayComfort.link'|translate}}</a>
        </p>
    </div>
      <div class="col-md-4">
        <h5>{{'footer.footerWhite.sections.sustainabilityInEveryStep.title'|translate}}</h5>
        <p>{{'footer.footerWhite.sections.sustainabilityInEveryStep.description'|translate}}
          <br><a href="#">{{'footer.footerWhite.sections.sustainabilityInEveryStep.link'|translate}}</a>
        </p>
    </div>
      <div class="col-md-4">
        <h5>{{'footer.footerWhite.sections.materialsFromTheEarth.title'|translate}}</h5>
        <p>{{'footer.footerWhite.sections.materialsFromTheEarth.description'|translate}}
          <br><a href="#">{{'footer.footerWhite.sections.materialsFromTheEarth.link'|translate}}</a>
        </p>
    </div>




    </div>
  </div>
</footer>

<footer class="footer b">
  <div class="container m-1">
    <div class="row p-1 m-2">




      <div class="col-md-4">
        <h5>{{'footer.footerBlack.sections.help.title'|translate}}</h5>
        <ul class="list-unstyled">
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.help.links.chatWithUs'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.help.links.phone1'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.help.links.phone2'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.help.links.email'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.help.links.returnsExchanges'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.help.links.faqContactUs'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.help.links.afterpay'|translate}}</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>{{'footer.footerBlack.sections.shop.title'|translate}}</h5>
        <ul class="list-unstyled">
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.shop.links.mensShoes'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.shop.links.womensShoes'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.shop.links.mensApparel'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.shop.links.womensApparel'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.shop.links.socks'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.shop.links.giftCards'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.shop.links.referAFriend'|translate}}</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>{{'footer.footerBlack.sections.company.title'|translate}}</h5>
        <ul class="list-unstyled">
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.company.links.ourStory'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.company.links.ourMaterials'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.company.links.sustainability'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.company.links.investors'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.company.links.shoeCare'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.company.links.affiliates'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.company.links.bulkOrders'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.company.links.careers'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.company.links.press'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.company.links.responsibleDisclosure'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.company.links.californiaTransparencyAct'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.company.links.communityOffers'|translate}}</a></li>
          <li class="pe-1 me-3 mt-3 mb-4"><a href="#">{{'footer.footerBlack.sections.company.links.ourBlog'|translate}}</a></li>
        </ul>
      </div>

    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <h3 class="pb-1">{{'footer.footerBlack.social_media.title'|translate}}</h3>
        <div class="social-icons">
          <a href="#" class="bi bi-instagram"></a>
          <a href="#" class="bi bi-facebook"></a>
          <a href="#" class="bi bi-twitter"></a>
          <a href="#" class="bi bi-youtube"></a>
          <a href="#" class="bi bi-pinterest"></a>
        </div>
        <div class="footer-icons mt-3">
          <!-- <img src="https://example.com/certified-icon.png" alt="Certified Icon"> -->
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="footer-flags">
          <img src="https://flagpedia.net/data/flags/h80/us.png" alt="US Flag">
          <img src="https://flagcdn.com/w2560/eg.png" alt="Egypt Flag">
          <img src="https://flagpedia.net/data/flags/h80/ca.png" alt="Canada Flag">
          <img src="https://flagpedia.net/data/flags/h80/au.png" alt="Australia Flag">
          <img src="https://flagpedia.net/data/flags/h80/gb.png" alt="UK Flag">
          <img src="https://flagcdn.com/w2560/br.png" alt="Brazil Flag">
          <img src="https://flagcdn.com/w2560/kr.png" alt="South Korea Flag">
          <img src="https://flagcdn.com/w2560/pt.png" alt="Portugal Flag">
        </div>
      </div>
    </div>
    <div class="footer-bottom mt-4">
      <p>{{'footer.footerBlack.footer_bottom.text'|translate}}<a href="#">{{'footer.footerBlack.footer_bottom.links.terms'|translate}}</a> <a href="#">{{'footer.footerBlack.footer_bottom.links.privacyAndAccessibility'|translate}}</a></p>
    </div>
  </div>
</footer>
