body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.accordion-button:focus {
  outline: none;
  box-shadow: none;
}
/* Container Styles */
.row {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of content */
  margin: 0 auto;
}

a {
  color: black;
  font-weight: bold;
}
/*  */

body[dir="rtl"] .row {
  flex-direction: row-reverse;
}

body[dir="rtl"] .thumbnail-container {
  margin-left: 15px;
  margin-right: 0;
}

body[dir="rtl"] .main-product-image,
body[dir="rtl"] .carousel-content {
  direction: rtl;
}

body[dir="rtl"] .row {
  flex-direction: row-reverse;
}


/*  */
/* Left Side Styles */
.d-flex {
  display: flex;
}

/* Main Image Container Styles */
.main-image-slider {
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
}

.thumbnail-container {
  display: flex;
  flex-direction: column; /* Vertical layout */
  margin-right: 15px; /* Space between thumbnail and main image */
}

.thumbnail {
  width: 90px;
  height: 90px;
  border: 2px solid transparent;
  border-radius: 0;
  cursor: pointer;
  margin-bottom: 10px; /* Spacing between thumbnails */
}

.thumbnail.active {
  border-color: black;
}

/* Main Image Styles */
.main-product-image {
  width: 100%;
  cursor: grab; /* Show a grab cursor on hover */
}

.main-product-image:active {
  cursor: grabbing;
}

.main-product-image.swiping-left {
  transform: translateX(-10px); /* Pulls slightly to the left */
}

.main-product-image.swiping-right {
  transform: translateX(10px); /* Pulls slightly to the right */
}

/* Slider Button Styles */
.custom-button {
  margin: 5px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: border 1.3s ease;
}

.custom-button:hover {
  border: 2px solid black;
}

.magnifier-icon {
  margin: 5px;
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  left: 10px;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.3s ease;
}

.magnifier-icon:hover {
  border: 2px solid black;
}

.slider-controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

/* Full-Screen Carousel Popup Styles */
.carousel-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  overflow: hidden;
}

.carousel-content {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 10px;
  width: 100%;
  max-width: 80rem;
  height: 90%;
  max-height: 60rem;
  position: relative;
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 30px;
  color: #212121;
  cursor: pointer;
  z-index: 1010;
}

.carousel-slide {
  display: none;
  justify-content: center;
  align-items: center;
}

.carousel-slide.active {
  display: flex;
}

.carousel-image {
  max-width: 35rem;
  max-height: 35rem;
  object-fit: contain;
}

.carousel-controls {
  display: flex;
  position: absolute;
  top: 50%;
  gap: 71.5rem;
}

.carousel-button {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.carousel-indicators {
  display: flex;
  margin-left: 0px;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #212121;
  transition: all 1s;
  transform: scale(1.5);
}

/* Right Side Styles */
.breadcrumb {
  font-size: 0.9rem;
  color: black;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

.price-container {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.price {
  color: #212121;
}

.free-shipping {
  background-color: rgb(245 245 245);
  padding: 5px;
  font-style: italic;
  font-size: 0.9rem;
  color: black;
  margin-left: 10px;
  font-weight: bold;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin-top: 10px;
}

.stars {
  color: black;
}

.reviews {
  margin-left: 10px;
  color: #212121;
}

.colors {
  margin-top: 20px;
}

.color-circles {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.color-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background-color: currentColor;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.color-circle::before {
  content: '';
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
  z-index: 1;
}

.color-circle:hover::before {
  border-color: rgb(245 245 245);
}

.color-circle.active::before {
  border-color: #212121;
}

.color-circle.navy { background-color: #21384F; }
.color-circle.grey { background-color: #787878; }
.color-circle.biege { background-color: #F5F5DC; }
.color-circle.white { background-color: #F5F5F5; }
.color-circle.black { background-color: #212121; }

.sizes {
  margin-top: 20px;
}

.size-box {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  text-align: center;
  line-height: 60px;
  margin: 5px;
  cursor: pointer;
}

.size-box.selected {
  color: white;
  background-color: black;
}

.size-box:hover {
  background-color: #888;
}

.size-chart-link {
  color: #888;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 10px;
  display: block;
}

.add-to-cart-btn {
  margin-top: 20px;
  width: 100%;
  border-radius: 0%;
}

.add-to-cart-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.shipping-info {
  font-size: 0.9rem;
  margin-top: 20px;
  text-align: center;
}

.free-shipping-info {
  font-size: 0.85rem;
  color: #212121;
  margin-top: 5px;
  text-align: center;
}
/* second part */
.badg{
  text-align: center;
  padding: 0;
  
}
.main-badg{
  line-height: 1.33;
  font-size: 18px;

  background-color: rgb(245, 245, 245);
  padding: 0;
}
/* Accordion Styles */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content.show {
  max-height: 500px;
}

.accordion-button {
  background-color: white;
  border: none;
  line-height: 1.33;
  padding: 0.75rem 1.25rem;
  padding: 0;
}

.accordion-item {
  border: none;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
}

.accordion-button::after {
  transition: transform 0.2s;
}

/* Image with Text Styles */
@media (max-width: 768px) {
  .stickTop {
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 10;
  }

  .row {
      flex-direction: column;
  }

  .col-7, .col-5 {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
  }

  .flex-column-reverse {
      flex-direction: column-reverse !important;
  }
}
