<div class="stepperContainerContainer">
  <div class="stepperContainer">
    <ng-container *ngIf="isCanceled()">
      <div class="step-item canceled">
        <div class="step canceled-step">
          <i class="fas fa-times" style="color: white;"></i>
        </div>
        <p class="stepParag">{{'orders.OrderCanceled'|translate}}</p>
      </div>
    </ng-container>

    <ng-container *ngIf="!isCanceled()">
      <div *ngFor="let step of steps; let i = index" class="step-item"
          [ngClass]="{'activeParent': isActive(step), 'completeParent': isComplete(step)}">
        <div class="step" [ngClass]="{'active': isActive(step), 'complete': isComplete(step)}">
          <span *ngIf="isComplete(step) || (i === steps.length - 1 && isActive(step))"><i class="fas fa-check"></i></span>
          <span *ngIf="!isComplete(step) && !(i === steps.length - 1 && isActive(step))">{{ i + 1 }}</span>
        </div>
        <p class="stepParag">{{ step }}</p>
      </div>
    </ng-container>
  </div>
  </div>
