.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.modal-body{
  top: -2rem;
  font-size: 2rem !important;
}

button:focus-within{
 box-shadow: none !important;

  border: none;
}
