<div class="theOrder">
  <div class="orderFirstSection">
    <div class="orderPlaced">
      <h5>{{ 'order.orderSummary.orderNo' | translate }}</h5>
      <h6>{{ order.orderNo }}</h6>
    </div>
    <div class="orderPlaced">
      <h5>{{ 'order.orderSummary.orderPlaced' | translate }}</h5>
      <h6>{{order.dateOrdered}}</h6>
    </div>
    <div class="orderTotal">
      <h5>{{ 'order.orderSummary.total' | translate }}</h5>
      <h6>${{ order.total }}</h6>
    </div>
    <div class="orderTotal">
      <h5>{{ 'order.orderSummary.discountPercentage' | translate }}</h5>
      <h6>{{ order.discountPercentage }}%</h6>
    </div>
    <div class="orderTotal">
      <h5>{{ 'order.orderSummary.discountAmount' | translate }}</h5>
      <h6>${{ order.discountAmount }}</h6>
    </div>
    <div class="orderShipTo">
      <h5>{{ 'order.orderSummary.shipTo' | translate }}</h5>
      <h6>{{ order.clientName }} - {{ order.clientAddress }}</h6>
    </div>
  </div>
  <div class="orderSecondSection">
    <h2 class='orderStateH2'>{{ 'order.orderState' | translate }}</h2>
    <app-stepper [orderState]="order.orderStateName"></app-stepper>
    <div class="orderProducts">
      <div *ngFor="let detail of order.details">
        <div class="orderProduct">
          <div class="orderProductImgAndInfos">
            <img src='{{baseImageUrl}}/{{detail.productImagePath}}' alt="" class="orderProductImg"/>
            <div class="orderProductInfos">
              <h5>{{detail.productName}}</h5>
              <h6>{{ 'order.orderSummary.Color' | translate }} {{detail.colorName}}</h6>
              <h6>{{ 'order.orderSummary.size' | translate }} {{detail.sizeNumber}}</h6>
              <h6>{{ 'order.orderSummary.sub_total' | translate }} ${{detail.detailPrice}}</h6>
              <h6>
                {{ 'order.orderSummary.quantity' | translate }} {{ detail.quantity }}
                {{
                  detail.quantity == 2
                    ? ('order.orderSummary.2Pieces' | translate)
                    : (detail.quantity > 1 && detail.quantity < 11
                        ? ('order.orderSummary.Pieces' | translate)
                        : ('order.orderSummary.Piece' | translate))
                }}
              </h6>
              <div class="orderProductInfosButtons">
                <!-- <button class="orderBuyAgain">Buy it again</button> -->
                <button class="orderViewItem" (click)="navigateTo(detail.productId)">{{ 'order.buttons.viewItem' | translate }}</button>
              </div>
            </div>
          </div>
          <!-- <button class="orderProductReview">Write a product review</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
