/* order  */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*::after,*::after{
  margin: 0px;
  padding: 0px;
}
/* orders */
.theOrder{
  width: 100%;
  border: 1px solid #ccc ;
  border-radius: 15px;
  margin-bottom: 20px;
}
.theOrder>*{
  padding: 16px;
}
.orderFirstSection{
  background-color: #222222;
  display: flex;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #ccc;
}
.orderFirstSection>div{
  margin-right: 19px;
}
.orderFirstSection h5{
  margin-right: 19px;
  color: #ffffff;
}
.orderFirstSection h6{
  color: #ffffff;
}
.orderShipTo>h6{
  color: #ffffff;
  cursor: pointer;
}
.orderStateH2{
  color: #717e8a;
  text-align: center;
  margin-bottom: 7px;
}
.orderSecondSection{
  border-bottom: 1px solid #ccc;
}
.orderReceipt{
  margin-bottom:20px;
  margin-left:1.5%;
}
.orderProducts{
  padding-left: 16px;
}
.orderProduct{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.orderProductImgAndInfos{
  display: flex;
}
.orderProductImg{
  width: 170px;
  height: 170px;
  margin-right: 15px;
}
.orderProductInfos>*{
  margin-bottom: 5px;
}
.orderProductInfos>h5{
  color: #007bff;
}
.orderProductInfos>h4{
  color: black;
  max-width: 80%;
}
.orderBuyAgain{
  color: black;
  background-color: orange;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #c5c5c5;
  cursor: pointer;
  margin-right: 5px;
}
.orderViewItem{
  color: black;
  background-color:#f8f9fa ;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #c5c5c5;
  cursor: pointer;
}
.orderViewItem:hover {
  background-color: #222222;
  color: #ffffff;
  transition: background-color 200ms linear;
}
.orderProductReview{
  padding: 7px 65px;
  background-color: #f8f9fa;
  color: black;
  border-radius: 10px;
  border:  2px solid #c5c5c5;
  cursor: pointer;
  height: fit-content;
}
@media (max-width: 991px) {
  .orderFirstSection{
    flex-wrap: wrap;
  }
  .orderPlaced{
    margin-bottom: 10px;
  }
  .orderProduct{
    flex-direction: column;
    align-items: center;
  }
  .orderProductImgAndInfos{
    flex-direction: column;
    align-items: center;
  }
  .orderProductInfos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .orderProductReview{
    width: 50%;
    text-align: center;
  }
  .orderProductInfosButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .orderProductReview{
    width: 100px;
    padding:0px
  }
  .orderBuyAgain{
    margin-bottom: 5px;
  }

}
@media (max-width: 280px) {
  /* you must deal with stepper because it make horezon scroll*/
  .orderShipTo{
    display: none;
  }
  .orderStateH2{
    display: none;
  }
}

@media (max-width: 195px) {
  .orderFirstSection{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .orderFirstSection>div{
    margin-right: 0px;
    margin-bottom:7px;
  }
  .orderPlaced>h5,
  .orderPlaced>h5{
    text-align: center;
  }
}

