<div class="theOrder">
  <div class="orderFirstSection">
    <div class="orderPlaced">
      <h4>ORDER ID</h4>
      <h6>{{ order.id }}</h6>
    </div>
    <div class="orderPlaced">
      <h4>ORDER PLACED</h4>
      <h6>{{order.dateOrdered}}</h6>
    </div>
    <div class="orderTotal">
      <h4>TOTAL</h4>
      <h6>{{ order.total }}</h6>
    </div>
    <div class="orderShipTo">
      <h4>SHIP TO</h4>
      <h6>{{ order.clientName }} - {{ order.clientAddress }}</h6>
    </div>
  </div>
  <div class="orderSecondSection">
    <h2 class='orderStateH2'>Order state</h2>
    <app-stepper [orderState]="order.orderStateName"></app-stepper>
    <div class="orderReceipt"> 
      <div *ngFor="let detail of order.details">
        <h6>quantity {{detail.quantity}} of {{detail.productName}} {{detail.price}} </h6>
      </div>
      <h6>order discount percentege : {{order.discountPercentage}}</h6>
      <h6>order discount amount : {{order.discountAmount}}</h6>
      <h6>order Total : {{order.total}}</h6>
    </div>
    <div class="orderProducts">
      <div *ngFor="let detail of order.details">
        <div class="orderProduct">
          <div class="orderProductImgAndInfos">
            <img src={{detail.productImagePath}} alt="" class="orderProductImg"/>
            <div class="orderProductInfos">
              <h3>{{detail.productName}}</h3>
              <h4>{{detail.detailPrice}}</h4>
              <div class="orderProductInfosButtons">
                <button class="orderBuyAgain">Buy it again</button>
                <button class="orderViewItem">View your item</button>
              </div>
            </div>
          </div>
          <button class="orderProductReview">Write a product review</button>
        </div>
      </div>
    </div>
  </div>
</div>
