<div class="card col-sm-6 col-md-6 col-lg-4" style="display: inline-block;">
  <div class="card-body" >
    <img src="/Images/1.jpg" class="card-img-top" alt="Product Image" style="width: 100%; height: auto;">
    <p class="card-text" style="font-weight: bolder;">Men's Tree Running</p>
    <p class="card-text">{{ 50 | currency:'USD' }}</p>

    <div id="carouselCard1" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <div class="row">
            <div class="col-9 mx-auto">
              <div class="row imageCarousel ">
                <div class="col-3">
                  <img src="/Images/1 (1).jpg" class="d-block " alt="First slide">
                </div>
                <div class="col-3">
                  <img src="/Images/1.jpg" class="d-block " alt="Second slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Third slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Fourth slide">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item " data-bs-interval="2000">
          <div class="row imageCarousel">
            <div class="col-9 mx-auto">
              <div class="row">
                <div class="col-3">
                  <img src="/Images/1 (1).jpg" class="d-block " alt="First slide">
                </div>
                <div class="col-3">
                  <img src="/Images/1.jpg" class="d-block " alt="Second slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Third slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block" alt="Fourth slide">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row imageCarousel">
            <div class="col-9 mx-auto">
              <div class="row ">
                <div class="col-3">
                  <img src="/Images/1 (1).jpg" class="d-block " alt="First slide">
                </div>
                <div class="col-3">
                  <img src="/Images/1.jpg" class="d-block " alt="Second slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Third slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Fourth slide">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselCard1" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselCard1" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
      </button>

    </div>
    <div class="row mx-auto size">
      <p style="font-weight: bolder; display: flex; margin-left:-10px ;" class="my-3">Quick Add</p>
      <div class="col-2">
        <p>4</p>
      </div>
      <div class="col-2">
        <p>5</p>
      </div>
      <div class="col-2">
        <p>6</p>
      </div>
      <div class="col-2">
        <p>7</p>
      </div>
      <div class="col-2">
        <p>8</p>
      </div>
      <div class="col-2">
        <p>9</p>
      </div>
      <div class="col-2">
        <p>10</p>
      </div>
      <div class="col-2">
        <p>11</p>
      </div>
      <div class="col-2">
        <p>12</p>
      </div>
      <div class="col-2">
        <p>13</p>
      </div>
      <div class="col-2">
        <p>14</p>
      </div>
      <div class="col-2">
        <p>15</p>
      </div>
      <div class="col-2">
        <p>16</p>
      </div>
    </div>
  </div>
</div>
<div class="card col-sm-12 col-md-6 col-lg-4 " style="display: inline-block;">
  <div class="card-body">
    <img src="/Images/1.jpg" class="card-img-top" alt="Product Image" style="width: 100%; height: auto;">
    <p class="card-text" style="font-weight: bolder;">Men's Tree Running</p>
    <p class="card-text">{{ 50 | currency:'USD' }}</p>

    <div id="carouselCard2" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <div class="row">
            <div class="col-9 mx-auto">
              <div class="row imageCarousel ">
                <div class="col-3">
                  <img src="/Images/1 (1).jpg" class="d-block " alt="First slide">
                </div>
                <div class="col-3">
                  <img src="/Images/1.jpg" class="d-block " alt="Second slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Third slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Fourth slide">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item " data-bs-interval="2000">
          <div class="row imageCarousel">
            <div class="col-9 mx-auto">
              <div class="row">
                <div class="col-3">
                  <img src="/Images/1 (1).jpg" class="d-block " alt="First slide">
                </div>
                <div class="col-3">
                  <img src="/Images/1.jpg" class="d-block " alt="Second slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Third slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block" alt="Fourth slide">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row imageCarousel">
            <div class="col-9 mx-auto">
              <div class="row ">
                <div class="col-3">
                  <img src="/Images/1 (1).jpg" class="d-block " alt="First slide">
                </div>
                <div class="col-3">
                  <img src="/Images/1.jpg" class="d-block " alt="Second slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Third slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Fourth slide">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselCard2" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselCard2" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
      </button>

    </div>
    <div class="row mx-auto size">
      <p style="font-weight: bolder; display: flex; margin-left:-10px ;" class="my-3">Quick Add</p>
      <div class="col-2">
        <p>4</p>
      </div>
      <div class="col-2">
        <p>5</p>
      </div>
      <div class="col-2">
        <p>6</p>
      </div>
      <div class="col-2">
        <p>7</p>
      </div>
      <div class="col-2">
        <p>8</p>
      </div>
      <div class="col-2">
        <p>9</p>
      </div>
      <div class="col-2">
        <p>10</p>
      </div>
      <div class="col-2">
        <p>11</p>
      </div>
      <div class="col-2">
        <p>12</p>
      </div>
      <div class="col-2">
        <p>13</p>
      </div>
      <div class="col-2">
        <p>14</p>
      </div>
      <div class="col-2">
        <p>15</p>
      </div>
      <div class="col-2">
        <p>16</p>
      </div>
    </div>
  </div>
</div>
<div class="card col-sm-12 col-md-6 col-lg-4 " style="display: inline-block;">
  <div class="card-body">
    <img src="/Images/1.jpg" class="card-img-top" alt="Product Image" style="width: 100%; height: auto;">
    <p class="card-text" style="font-weight: bolder;">Men's Tree Running</p>
    <p class="card-text">{{ 50 | currency:'USD' }}</p>

    <div id="carouselCard3" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <div class="row">
            <div class="col-9 mx-auto">
              <div class="row imageCarousel ">
                <div class="col-3">
                  <img src="/Images/1 (1).jpg" class="d-block " alt="First slide">
                </div>
                <div class="col-3">
                  <img src="/Images/1.jpg" class="d-block " alt="Second slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Third slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Fourth slide">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item " data-bs-interval="2000">
          <div class="row imageCarousel">
            <div class="col-9 mx-auto">
              <div class="row">
                <div class="col-3">
                  <img src="/Images/1 (1).jpg" class="d-block " alt="First slide">
                </div>
                <div class="col-3">
                  <img src="/Images/1.jpg" class="d-block " alt="Second slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Third slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block" alt="Fourth slide">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row imageCarousel">
            <div class="col-9 mx-auto">
              <div class="row ">
                <div class="col-3">
                  <img src="/Images/1 (1).jpg" class="d-block " alt="First slide">
                </div>
                <div class="col-3">
                  <img src="/Images/1.jpg" class="d-block " alt="Second slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Third slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Fourth slide">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselCard3" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselCard3" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
      </button>

    </div>
    <div class="row mx-auto size">
      <p style="font-weight: bolder; display: flex; margin-left:-10px ;" class="my-3">Quick Add</p>
      <div class="col-2">
        <p>4</p>
      </div>
      <div class="col-2">
        <p>5</p>
      </div>
      <div class="col-2">
        <p>6</p>
      </div>
      <div class="col-2">
        <p>7</p>
      </div>
      <div class="col-2">
        <p>8</p>
      </div>
      <div class="col-2">
        <p>9</p>
      </div>
      <div class="col-2">
        <p>10</p>
      </div>
      <div class="col-2">
        <p>11</p>
      </div>
      <div class="col-2">
        <p>12</p>
      </div>
      <div class="col-2">
        <p>13</p>
      </div>
      <div class="col-2">
        <p>14</p>
      </div>
      <div class="col-2">
        <p>15</p>
      </div>
      <div class="col-2">
        <p>16</p>
      </div>
    </div>
  </div>
</div>
<div class="card col-sm-12 col-md-6 col-lg-4 " style="display: inline-block;">
  <div class="card-body">
    <img src="/Images/1.jpg" class="card-img-top" alt="Product Image" style="width: 100%; height: auto;">
    <p class="card-text" style="font-weight: bolder;">Men's Tree Running</p>
    <p class="card-text">{{ 50 | currency:'USD' }}</p>

    <div id="carouselCard4" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <div class="row">
            <div class="col-9 mx-auto">
              <div class="row imageCarousel ">
                <div class="col-3">
                  <img src="/Images/1 (1).jpg" class="d-block " alt="First slide">
                </div>
                <div class="col-3">
                  <img src="/Images/1.jpg" class="d-block " alt="Second slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Third slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Fourth slide">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item " data-bs-interval="2000">
          <div class="row imageCarousel">
            <div class="col-9 mx-auto">
              <div class="row">
                <div class="col-3">
                  <img src="/Images/1 (1).jpg" class="d-block " alt="First slide">
                </div>
                <div class="col-3">
                  <img src="/Images/1.jpg" class="d-block " alt="Second slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Third slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block" alt="Fourth slide">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row imageCarousel">
            <div class="col-9 mx-auto">
              <div class="row ">
                <div class="col-3">
                  <img src="/Images/1 (1).jpg" class="d-block " alt="First slide">
                </div>
                <div class="col-3">
                  <img src="/Images/1.jpg" class="d-block " alt="Second slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Third slide">
                </div>
                <div class="col-3">
                  <img src="/Images/2 (1).jpg" class="d-block " alt="Fourth slide">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselCard4" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselCard4" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
      </button>

    </div>
    <div class="row mx-auto size">
      <p style="font-weight: bolder; display: flex; margin-left:-10px ;" class="my-3">Quick Add</p>
      <div class="col-2">
        <p>4</p>
      </div>
      <div class="col-2">
        <p>5</p>
      </div>
      <div class="col-2">
        <p>6</p>
      </div>
      <div class="col-2">
        <p>7</p>
      </div>
      <div class="col-2">
        <p>8</p>
      </div>
      <div class="col-2">
        <p>9</p>
      </div>
      <div class="col-2">
        <p>10</p>
      </div>
      <div class="col-2">
        <p>11</p>
      </div>
      <div class="col-2">
        <p>12</p>
      </div>
      <div class="col-2">
        <p>13</p>
      </div>
      <div class="col-2">
        <p>14</p>
      </div>
      <div class="col-2">
        <p>15</p>
      </div>
      <div class="col-2">
        <p>16</p>
      </div>
    </div>
  </div>
</div>
