<!--==============================================================================================

                                   Localization by AHMED ELGHOUL

 ==================================================================================================-->





<div class="card col-sm-6 col-md-3 text-center">
  <div class="card-body">
    <img *ngIf="mainImagePath" [src]="mainImagePath" class="card-img-top" alt="Product Image">

    <p class="card-text" style="font-weight: bolder;">{{ Products.name }}</p>
    <p class="card-text">{{ Products.price | currency: 'USD' }}</p>

    <div *ngIf="hasMultipleImages(Products.productColors)" id="carouselCard{{Products.id}}" class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-inner">
        <ng-container *ngFor="let group of getGroups(Products.productColors); let gIndex = index">
          <div class="carousel-item" [ngClass]="{'active': gIndex === 0}">
            <div class="row justify-content-center">
              <ng-container *ngFor="let color of group; let cIndex = index">
                <div class="col-2" style="padding: 0;" *ngIf="color.imagePath"
                  (click)="switchMainImage(BaseImage + color.imagePath, color.productSizes)">
                  <img [src]="BaseImage + color.imagePath" class="d-block w-100"
                    alt="Product image {{ gIndex * 4 + cIndex + 1 }}">
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>

      <button *ngIf="getGroups(Products.productColors).length > 1" class="carousel-control-prev" type="button"
        [attr.data-bs-target]="'#carouselCard' + Products.id" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button *ngIf="getGroups(Products.productColors).length > 1" class="carousel-control-next" type="button"
        [attr.data-bs-target]="'#carouselCard' + Products.id" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>

    <div class="row mx-auto size" *ngIf="PrdSizes && PrdSizes.length > 0">
      <p class="my-3">{{'product-card.Quick_Add'|translate}}</p>
      <div *ngFor="let colorSize of PrdSizes" class="size d-flex flex-wrap my-3  text-center justify-content-center">
        <p [ngClass]="{'out-of-stock': colorSize.unitsInStock == 0}">{{colorSize.sizeNumber}} </p>
      </div>
    </div>
<!--
     <div class="size d-flex flex-wrap my-3  text-center justify-content-center">
          <p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>10</p><p>11</p><p>12</p>
        </div>
      </div> -->
  </div>
</div>
