.shop {
  padding: 10px 20px;
  background-color: white;
  border: 0;
  color: #333;
  font-weight: bold;
  width: 50%;


  border-radius: 0;
  transition: background-color 0.3s, color 0.3s;
}

.shop:hover {
  background-color: #333;
  color: white;
}

.capHeader
{
  right: 0;
}
.capbutton{
  right: -40%;
}
.third{
  font-family: Georgia, 'Times New Roman', Times, serif ;
  font-size: 45px;
}
.first{
  font-size: 85px;
  font-family:Georgia, 'Times New Roman', Times, serif;

}
.rounded-circle{
  width: 10px !important;
  height: 10px !important;
  margin: -5px !important;
  transition: opacity 0.3s, transform 0.3s !important;


}
.rounded-circle.active{
  opacity: 1;
  background-color: #fdfdfd !important;
  transform: scale(1.5);
}
.texts{
  font-size: 20px;
}
.card-group .card-1 {
  position: relative;
    overflow: hidden;
    border-radius: 0;
  }

  .card .carbtn {
   opacity: 0;
   transition: opacity 0.3s ease;
   text-align: center;
   bottom: 15px;
   width: 100%;
  }

  .card:hover .carbtn {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .card-group .card.img{
      overflow:hidden;
  }
  .card-group .card img{

      transition: transform 0.3s ease ;
  }
  .card-group .card img:hover{

      transform: scale(1.04) ;
  }
  .carbtnshop{
      border-radius: 0;
      border: 0;
      max-width: 60%;

  }
  .carbtnshop:hover{
      background-color: #1f1f1f;
      color: white;
      border: 0;
  }
  .card .carbody {
    text-align: center;
    top: 45px;
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(243, 238, 238);
   }
   .card .carimag{
    border-radius: 0;
   }



   .card{
    border-radius: 0;
    overflow:hidden;

  }
  .card img{
    border-radius: 0;
    transition: transform 0.3s ease ;

  }
  .card:hover img{

    transform: scale(1.04) ;

  }

  .textSlide {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
    font-weight: 700;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-control-prev, .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    position: absolute;
    top: 50%;
  }

  .carousel-control-prev {
    left: .9rem;
  }
  .carousel-control-next {
    right: .9rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: transparent;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-right: none;
    border-top: none;
    position: absolute;
    padding: 10px;
  }

  .carousel-control-prev-icon {
    margin-left: 5px;
    transform: rotate(45deg);
  }

  .carousel-control-next-icon {
    margin-right: 5px;

    transform: rotate(-135deg);
  }









  /* 4 product style  */
  /* body {
    box-sizing: border-box;
    overflow-x: hidden;
  } */
  .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .thumbnail-image {
    height: 100%;
    object-fit: cover;
  }

  .text-overlay {
    position: absolute;
    bottom: 1.3rem;
    left: 0.8rem;
    color: aliceblue;
  }

  .text-overlay p {
    font-size: 1rem;
    font-weight: 600;
  }

  .text-overlay h6 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .price {
    position: absolute;
    right: 0.9rem;
    bottom: 4.3rem;
    font-size: 1rem;
    font-weight: 500;
    color: aliceblue;

  }

  .text-overlay-left {
    position: absolute;
    bottom: 1.3rem;
    left: 0.8rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .left-column {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .right-column .row {
    height: 100%;
  }

  .right-column .col-6 {
    height: 50%;
    display: flex;
  }

  .column-wrapper {
    display: flex;
    gap: 0.5rem;
  }
  .text-overlay-left {
      font-size: 1rem;
      margin-left: 1rem;
      width: 100%;
      color: aliceblue;
    }
    .text-overlay-left .title {
      font-size: 3rem;
      margin: 0;
      text-align: left;

    }
    .text-overlay-left .subtitle {
      font-size: 1.5rem;
        margin-bottom: 2rem;
      text-align: left;
    }

  .text-overlay-left .card-group button{
    border-radius: 0;
    padding: 1rem;
    width: 25%;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.5s ease, background-color 0.5s ease;
      }
  .text-overlay-left .card-group button:hover{
    color: aliceblue;

    background-color: black;

  }
  @media (max-width: 992px) {
    .column-wrapper {
      flex-direction: column;
    }

  }
  .col-lg-6 ,.imag4{
    overflow: hidden;
  }
  .col-lg-6.left-column img,
  .right-column img {
    transition: transform .3s ease;

  }
  .col-lg-6.left-column img:hover,
  .right-column img:hover {
    transform: scale(1.2);
  }








  /* gift card */
  .overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .overlays h2{
    font-size: 1.5rem ;
  }
  .overlays p{
    font-size: .9rem ;
  }
  .image-container {
    position: relative;
    overflow: hidden;
  }
  .image-container img {
    width: 100%;
    height: auto;
  }
  .giftbtn{
    border-radius: 0;
    border: 0;
    opacity: 0;
    transition: color 0.5s ease, background-color 0.5s ease, opacity .2s ease;

  }
  .giftbtn:hover{
    color: aliceblue;
    background-color: black;
  }
  .image-container:hover .giftbtn{
    opacity: 1;
  }
