<div class="container">
  <div class="row mt-lg-5" >
    <div class="col-3">
      <app-product-filter routerLinkActive="active_link" (filterSelectedChange)="onFilterSelectedChange($event)"  [filterTypes]="FilterTypes" [CategorySelected]="ParentCat_SubCat"></app-product-filter>
    </div>
    <div class="col-9">
      <ng-container *ngIf="ProductCards && ProductCards.length > 0; else noProducts">
        <ng-container *ngFor="let prd of ProductCards; trackBy: trackById">
          <app-product-card [Products]="prd"></app-product-card>
        </ng-container>
      </ng-container>

      <ng-template #noProducts>
        <h1 class="text-danger">{{ Msg }}</h1>
      </ng-template>
    </div>
  </div>
</div>
