body{
  overflow: hidden;
  margin: 0px;

}

.p-category a , .child-category a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: small;

}
.p-category a:hover , .child-category a:hover{
  text-decoration:underline;
}

.sub-category p{
  font-size: 25px;
  font-weight: bolder;
  margin-top: 5px;
  margin-left: 10px;


}
.sub-category span{
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;

}
.child-category
{
  margin-top: 15px;
line-height: 20px;
margin-left: 10px;

}
.filter-size .FilterBy{
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 10px;
}
.filter-size .size h4{
  font-size: 20px;
  font-weight: bolder;
}
.filter-size .size p{
  font-size: 17px;

  /* margin-top: 10px; */
}

.filter-size .size span{
  border: 1px solid rgb(0, 0, 0);
  width: 42px;
  height: 42px;
  /* padding: 3px 2px 0px 0px; */
  padding: 5px;
  margin-top: 12px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  cursor: pointer;

}
.filter-size .size span:hover {
  background-color: rgb(225, 225, 226);
  color: #000000;
  /* border-radius: 10px; */
}
.headercolor{
  font-weight: bold;
  font-size: 17px;
}
.FilterBy .filter-btn {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 30px;
  font-size: medium;
  background-color: white;
  font-weight: 500;
  padding: 5px 10px;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
}

/* .FilterBy .close-icon {
  background-color: rgb(189, 189, 189);
  border-radius: 50%;
  font-weight:600;
  color: rgb(0, 0, 0);
  padding: 2px;
  margin-left: 5px;
} */
.clear-all-btn {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  border: 1px solid #959595;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.clear-all-btn:hover {
  background-color: #2d2f31;
  color: white;
}

.clear-all-btn:focus {
  outline: none;
}

.colors div{
  cursor: pointer;
}
.colors div{
  cursor: pointer;

}
.colors div:hover{
  text-decoration: underline;
  color: darkorange;
}
