<div>
  <div class="filter-container">
    <div class="p-category">
      <span><a href="">Home</a></span> <span>/</span> <span><a href="">Men</a></span> <span>/</span>
    </div>
    <div class="sub-category">
      <p>Everyday Sneakers</p>
      <span>Everyday Sneakers</span>
    </div>
    <div class="child-category">
      <p><a href=""> Active Shoes</a></p>
      <p><a href=""> Water-Repellent Shoes</a></p>
      <p><a href=""> High Tops</a></p>
      <p><a href=""> Hiking Shoes</a></p>
      <p><a href=""> Sale Shoes</a></p>
    </div>
  </div>
  <div class="filter-size">
    <p>Filter By:</p>
    <hr>
    <div class="size">
      <p>Sizes</p>
      <span> Most of our shoes only come in full sizes. If you’re a half size, select your nearest whole size
        too.</span>
    </div>
  </div>

</div>
