.navbar{
  box-shadow: 0 5px 5px rgba(38, 38, 38, 0.137);
  position: sticky; /* Set position to sticky */
  top: 0;           /* Make it stick to the top of the viewport */
  z-index: 1000;    /* Ensure it appears above other elements */
}
.navbar-nav .nav-link {
  text-transform: uppercase;
  margin-right: 20px;
}
.navbar-nav .nav-link.sale {
  color: red;
}
.navbar-brand {
  /* font-family: cursive; */
  font-size: 1.5rem ;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar-icons .nav-link {
  padding: 0 10px;
}
.navbar-icons .cart-icon {
  position: relative;
}
.navbar-icons .cart-icon .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: black;
  color: white;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 99.9vw;
  padding: 50px;
  background-color: white;
  border: none;
  z-index: -1;
  box-shadow: 0 5px 16px rgba(0,0,0,0.2);
}
.dropdown-item {
  font-weight: bold;
}
.dropdown-menu .row {
  padding: 20px;
}
.featured-image {
  position: relative;
  text-align: center;
}
.featured-image img {
  width: 100%;
  height: auto;
}
.featured-image .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar-nav .dropdown-toggle::after {
display: none !important;
}



@media (max-width: 3000px) {
   #Allbirds {
    position: absolute !important;
    top: 0px;
    width: 20%;
    /* padding-bottom: 10px; */
    left: 50%;
    height: auto;

    max-width: 200px;

  }

}


@media (max-width: 1200px) {
 #icons {
   position: absolute;
   top: 10px;
   right: 2%;
 }
  #Allbirds {
   top: -2px;
 }

}

@media (max-width: 768px) {
  /* .navbar-logo {
    max-width: 15vw;
    max-height: 15vh;
  } */
  #icons {
    top: 12px;
    right: 2%;
  }
}


@media (max-width: 576px) {
  /* .navbar-logo {
    max-width: 30vw;
    max-height: 25vh;
  } */
   #Allbirds {
    top: -3px;
  }
  #icons {
    top: 10px;
    right: 2%;
  }
}



.navbar-toggler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  border: none;
  background: transparent;
}
.toggler-icon {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #080808;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.navbar-toggler[aria-expanded="true"] .toggler-icon:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .toggler-icon:nth-child(2) {
  opacity: 0;

}
.navbar-toggler[aria-expanded="true"] .toggler-icon:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);

}


/* .navbar-logo {
  max-width: 8vw;
  max-height: 9vh;
  height: auto;
  width: auto;
  object-fit: contain;
  transition: max-width 0.5s ease, max-height 0.2s ease;
} */



body {
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
}
.back-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  color: #000;
  font-size: 1.2em;
  text-decoration: none;
}

.menu-content {
  transition: max-height 0.4s ease, opacity 0.4s ease;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
}
.menu-content.show {
  opacity: 1;
  max-height: 300px;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.fade-in {
  opacity: 0;
  transform: translateX(20px);
  animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.collapse-header {
  cursor: pointer;
}

