 <nav class="navbar navbar-expand-xl navbar-light bg-light">

    <div class="navbar-brand mx-auto col-1" id="Allbirds">
      <img src="images/Logo.svg" alt="Logo" class="navbar-logo img-fluid" >
    </div>




    <div class="container-fluid d-xl-none  m-0 p-0">
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>    </button>


      <ul class="flex-column  collapse navbar-collapse  justify-content-between   list-unstyled " id="navbarNav1">




        @for (parent of category; track parent.catId ; let i =$index) {

          <li class="nav-item p-0">
            <div [class]="'nav-link ' +parent.NameEn+'-toggle position-relative text-dark'" data-bs-toggle="collapse" [attr.href]="'#' + parent.NameEn + 'Menu'"  role="button" (click)="showing(parent.NameEn)" aria-expanded="false"  [attr.aria-controls]="parent.NameEn + 'Menu'">
              <p class="ms-3 mt-3  d-inline-block ">{{parent.NameEn}}</p>
              @if(parent.IsParentCategory){
                <span class=" position-absolute end-0 me-3 mt-3 fs-5">→</span>

              }
              <hr>

            </div>
            @if(parent.IsParentCategory){
              <div [class]="'collapse' +parent.NameEn+'-content'" [id]="parent.NameEn">
                <h4 class="collapse-header centered position-relative bg-secondary bg-opacity-25 p-2" (click)="goBack(parent.NameEn)">
                  <span class="back-button position-absolute start-0 ms-3">←</span>
                {{parent.NameEn}}
                </h4>


                <ul class="nav flex-column sub-menu">
                  @for (child of parent.Children; track child.catId;let y =$index) {
                    <li  [class]="'nav-item fade-in ms-3'  +child.NameEn+'-toggle'" data-bs-toggle="collapse" [attr.href]="'#' + child.NameEn + 'Menu'"  role="button" (click)="showing(child.NameEn)" aria-expanded="false"  [attr.aria-controls]="child.NameEn + 'Menu'">{{child.NameEn}}
                      @if (child.IsParentCategory) {

                        <span class=" position-absolute end-0 me-3">→</span>

                        <div [class]="'collapse' +child.NameEn+'-content'" [id]="child.NameEn">
                          <h4 class="collapse-header centered position-relative bg-secondary bg-opacity-25 p-2" (click)="goBack(child.NameEn)">
                            <span class="back-button position-absolute start-0 ms-3">←</span>
                          {{child.NameEn}}
                          </h4>


                          <ul class="nav flex-column sub-menu">
                            @for (grandChild of child.Children; track grandChild.catId;let x =$index) {
                              <li  class="nav-item fade-in ms-3" >{{grandChild.NameEn}}

                              </li>

                            }

                          </ul>
                          </div>
                        }
                    </li>

                  }

                </ul>
              </div>
            }


          </li>
        }

<!--
        <li class="nav-item ">

          <a class="nav-link women-toggle position-relative text-dark" data-bs-toggle="collapse" href="#womenMenu" role="button" (click)="showing('women')" aria-expanded="false" aria-controls="womenMenu">

            <p class="ms-3 mt-3  d-inline-block ">WOMEN</p>
            <span class=" position-absolute end-0 me-3 mt-3 fs-5">→</span>
            <hr>

          </a>
          <div class="collapse menu-content" id="womenMenu">
            <h4 class="collapse-header centered position-relative bg-secondary bg-opacity-25 p-2" (click)="goBack('women')">
              <span class="back-button position-absolute start-0 ms-3">←</span>
              WOMEN

            </h4>
            <ul class="nav flex-column sub-menu">
              <li class="nav-item fade-in ms-3">SHOES <span class=" position-absolute end-0 me-3">→</span></li>
              <hr>
              <li class="nav-item fade-in ms-3">BESTSELLERS <span class=" position-absolute end-0 me-3">→</span></li>
              <hr>
              <li class="nav-item fade-in ms-3">APPAREL & MORE <span class=" position-absolute end-0 me-3">→</span></li>
              <hr>
              <li class="nav-item fade-in ms-3">FEATURED <span class=" position-absolute end-0 me-3">→</span></li>
            </ul>
          </div>

        </li>



        <li class="nav-item">
          <a class="nav-link  socks-toggle position-relative text-dark"  href="#socksMenu" role="button"  aria-expanded="false" aria-controls="socksMenu">

            <p class="ms-3 mt-3  d-inline-block ">SOCKS</p>
            <hr>

          </a>

        </li>
        <li class="nav-item ">
          <a class="nav-link sale-toggle position-relative " (click)="showing('sale')" data-bs-toggle="collapse" href="#saleMenu" role="button" aria-expanded="false" aria-controls="saleMenu">

            <p class="ms-3 mt-3  d-inline-block ">SALE</p>
            <span class=" position-absolute end-0 me-3 mt-3 fs-5">→</span>
            <hr >

          </a>
          <div class="collapse menu-conten" id="saleMenu">
            <h4 class="collapse-header centered position-relative bg-secondary bg-opacity-25 p-2" (click)="goBack('sale')">
              <span class="back-button position-absolute start-0 ms-3">←</span>
              Sale
            </h4>
          <ul class="nav flex-column">
              <li class="nav-item fade-in ms-3">MEN'S SALE <span class=" position-absolute end-0 me-3">→</span></li>
              <hr>

              <li class="nav-item fade-in ms-3">WOMEN'S SALE <span class=" position-absolute end-0 me-3">→</span></li>
              <hr>

              <li class="nav-item fade-in ms-3">KID'S SALE <span class=" position-absolute end-0 me-3">→</span></li>
              <hr>


              <li class="nav-item fade-in ms-3">FEATURED DEALS </li>
              <hr>

              </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link sale-toggle position-relative text-dark" (click)="showing('sustainability')" data-bs-toggle="collapse" href="#sustainabilityMenu" role="button" aria-expanded="false" aria-controls="sustainabilityMenu">
             <p class="ms-3 mt-3  d-inline-block ">SUSTAINABILITY</p>
            <hr>

          </a>

          <div class="collapse" id="sustainabilityMenu">
            <h4 class="collapse-header centered position-relative bg-secondary bg-opacity-25 p-2" (click)="goBack('sustainability')">
              <span class="back-button position-absolute start-0 ms-3">←</span>
              Sustainability
            </h4>

          </div>

        </li>

          <li class="nav-item">
            <a class="nav-link Rerun-toggle position-relative text-dark"  href="#RerunMenu" role="button" aria-expanded="false" aria-controls="RrunyMenu">


              <p class="ms-3 mt-3  d-inline-block ">Rerun</p>


              <hr>

            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link Stores-toggle position-relative text-dark"  href="#StoresMenu" role="button" aria-expanded="false" aria-controls="RrunyMenu">

              <p class="ms-3 mt-3  d-inline-block ">Stores</p>


              <hr>

            </a>

          </li>
            <li class="nav-item">
              <a class="nav-link Account-toggle position-relative text-dark"  href="#AccountMenu" role="button" aria-expanded="false" aria-controls="RrunyMenu">

                <p class="ms-3 mt-3  d-inline-block ">Account</p>
                <hr >

              </a>

          </li>
            <li class="nav-item">
              <a class="nav-link Help-toggle position-relative text-dark"  href="#HelpMenu" role="button" aria-expanded="false" aria-controls="RrunyMenu">


                <p class="ms-3 mt-3  d-inline-block ">Help</p>
                <hr >

              </a>

          </li> -->
      </ul>
      <div class="d-flex align-items-center">
        <ul class="navbar-nav navbar-icons ms-auto d-flex flex-row " id="icons">
          <li class="nav-item d-none d-md-block ">
            <a class="nav-link" href="#"><i class="fas fa-search text-dark"></i></a>
          </li>
          <li class="nav-item  d-none d-xl-block ">
            <a class="nav-link" href="#"><i class="fas fa-user text-dark"></i></a>
          </li>
          <li class="nav-item  d-none d-xl-block">
            <a class="nav-link" href="#"><i class="fas fa-question-circle text-dark"></i></a>
          </li>
          <li class="nav-item cart-icon">
            <a class="nav-link position-relative" href="#">

              <i class="fas fa-shopping-cart text-dark"></i>
              <!-- <span class="position-absolute top-0 start-50 translate-top mb-1  ">
              +99
              </span> -->
              <!-- <span class="position-absolute top-25 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"> </span> -->
            </a>

            <!-- <span class="badge bg-light text-dark ">+99</span> -->
          </li>

        </ul>
      </div>


    </div>







  <div class="container-fluid">
    <button class="navbar-toggler d-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>    </button>


    <div class="collapse navbar-collapse justify-content-between d-none" id="navbarNav">

      <ul class="navbar-nav">
      <ul class="navbar-nav">

        <li class="nav-item">

          <a class="nav-link dropdown-toggle" href="#" id="menDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Men
          </a>
          <div class="dropdown-menu" aria-labelledby="menDropdown">
            <div class="row">
              <div class="col-lg-2 col-md-12 mx-auto">
                <h6>Shoes</h6>
                <a class="dropdown-item" href="#">Everyday Sneakers</a>
                <a class="dropdown-item" href="#">Active Shoes</a>
                <a class="dropdown-item" href="#">Water-Repellent Sneakers</a>
                <a class="dropdown-item" href="#">Slip-Ons</a>
                <a class="dropdown-item" href="#">High Tops</a>
                <a class="dropdown-item" href="#">Hiking</a>
                <a class="dropdown-item" href="#">Sale</a>
                <a class="dropdown-item" href="#">Shop All</a>
              </div>
              <div class="col-lg-2 col-md-12 ">
                <h6>Bestsellers</h6>
                <a class="dropdown-item" href="#">Tree Runner</a>
                <a class="dropdown-item" href="#">Wool Runner</a>
                <a class="dropdown-item" href="#">Wool Runner Go</a>
                <a class="dropdown-item" href="#">Tree Runner Go</a>
                <a class="dropdown-item" href="#">Tree Glider</a>
                <a class="dropdown-item" href="#">Wool Runner Mizzle</a>
                <a class="dropdown-item" href="#">Tree Dasher 2</a>
                <a class="dropdown-item" href="#">Wool Dasher Mizzle</a>
                <a class="dropdown-item" href="#">Shop All</a>
              </div>
              <div class="col-lg-2 col-md-12  ">
                <h6>Apparel & More</h6>
                <a class="dropdown-item" href="#">Socks</a>
                <a class="dropdown-item" href="#">Tees</a>
                <a class="dropdown-item" href="#">Underwear</a>
                <a class="dropdown-item" href="#">Hats</a>
                <a class="dropdown-item" href="#">Insoles</a>
                <a class="dropdown-item" href="#">Lace Kits</a>
                <a class="dropdown-item" href="#">Gift Cards</a>
                <a class="dropdown-item" href="#">Sale</a>
              </div>
              <div class="col-lg-6 col-md-12">
                <h6>Featured</h6>
                <div class="row">
                  <div class="col-md-12 m-2">
                    <div class="featured-image">
                      <img src="https://placehold.co/100x30" alt="Shop Men's Sale">
                      <div class="text">Shop Men's Sale</div>
                    </div>
                  </div>
                  <div class="col-md-12 m-2">
                    <div class="featured-image">
                      <img src="https://placehold.co/100x30" alt="Ultra-Soft Wool Sneaks">
                      <div class="text">Ultra-Soft Wool Sneaks</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="womenDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Women</a>
          <div class="dropdown-menu" aria-labelledby="womenDropdown">
            <div class="row">
              <div class="col-lg-2 col-md-12">
                <h6>Shoes</h6>
                <a class="dropdown-item" href="#">Everyday Sneakers</a>
                <a class="dropdown-item" href="#">Active Shoes</a>
                <a class="dropdown-item" href="#">Water-Repellent Sneakers</a>
                <a class="dropdown-item" href="#">Slip-Ons</a>
                <a class="dropdown-item" href="#">High Tops</a>
                <a class="dropdown-item" href="#">Hiking</a>
                <a class="dropdown-item" href="#">Sale</a>
                <a class="dropdown-item" href="#">Shop All</a>
              </div>
              <div class="col-lg-2 col-md-12">
                <h6>Bestsellers</h6>
                <a class="dropdown-item" href="#">Tree Runner</a>
                <a class="dropdown-item" href="#">Wool Runner</a>
                <a class="dropdown-item" href="#">Wool Runner Go</a>
                <a class="dropdown-item" href="#">Tree Runner Go</a>
                <a class="dropdown-item" href="#">Tree Glider</a>
                <a class="dropdown-item" href="#">Wool Runner Mizzle</a>
                <a class="dropdown-item" href="#">Tree Dasher 2</a>
                <a class="dropdown-item" href="#">Wool Dasher Mizzle</a>
                <a class="dropdown-item" href="#">Shop All</a>
              </div>
              <div class="col-lg-2 col-md-12">
                <h6>Apparel & More</h6>
                <a class="dropdown-item" href="#">Socks</a>
                <a class="dropdown-item" href="#">Tees</a>
                <a class="dropdown-item" href="#">Underwear</a>
                <a class="dropdown-item" href="#">Hats</a>
                <a class="dropdown-item" href="#">Insoles</a>
                <a class="dropdown-item" href="#">Lace Kits</a>
                <a class="dropdown-item" href="#">Gift Cards</a>
                <a class="dropdown-item" href="#">Sale</a>
              </div>
              <div class="col-lg-6 col-md-12 ">
                <h6>Featured</h6>
                <div class="row">
                  <div class="col-md-12 m-2 ">
                    <div class="featured-image">
                      <img src="https://placehold.co/100x30" alt="Shop Women's Sale">
                      <div class="text">Shop Women's Sale</div>
                    </div>
                  </div>
                  <div class=" col-md-12 m-2">
                    <div class="featured-image">
                      <img src="https://placehold.co/100x30" alt="Ultra-Soft Wool Sneaks">
                      <div class="text">Ultra-Soft Wool Sneaks</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
        <li class="nav-item">
          <a class="nav-link" href="#">Socks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sale" href="#">Sale</a>
        </li>
      </ul>

      <ul class="navbar-nav text-dark">
        <li class="nav-item">
          <a class="nav-link" href="#">Sustainability</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rerun</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Stores</a>
        </li>
        <li class="nav-item d-xl-none">
          <a class="nav-link" href="#">Account</a>
        </li>
        <li class="nav-item d-xl-none">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>

    </div>
    <div class="d-flex align-items-center">
      <ul class="navbar-nav navbar-icons ms-auto d-flex flex-row " id="icons">
        <li class="nav-item d-none d-md-block ">
          <a class="nav-link" href="#"><i class="fas fa-search text-dark"></i></a>
        </li>
        <li class="nav-item  d-none d-xl-block ">
          <a class="nav-link" href="#"><i class="fas fa-user text-dark"></i></a>
        </li>
        <li class="nav-item  d-none d-xl-block">
          <a class="nav-link" href="#"><i class="fas fa-question-circle text-dark"></i></a>
        </li>
        <li class="nav-item cart-icon">
          <a class="nav-link position-relative" href="#">

            <i class="fas fa-shopping-cart text-dark"></i>
            <!-- <span class="position-absolute top-0 start-50 translate-top mb-1  ">
            +99
            </span> -->
            <!-- <span class="position-absolute top-25 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"> </span> -->
          </a>

          <!-- <span class="badge bg-light text-dark ">+99</span> -->
        </li>

      </ul>
    </div>

  </div>


  <div class="search-container d-flex justify-content-start align-items-center d-md-none m-2 p-2">
    <a class="nav-link" href="#"><i class="fas fa-search text-dark"></i></a>
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="width: 300px; margin-left: 10px;">
  </div>
</nav>

























