 <!--==============================================================================================

                                   Nav Bar And Localization by AHMED ELGHOUL

 ==================================================================================================-->

@if(loader){
<app-loader></app-loader>
}@else {

  <nav [class]="'navbar navbar-expand-xl navbar-light bg-light '+ language ">
   <a routerLink="home" class="navbar-brand col-1 col-sm-2 col-md-1" id="Allbirds">
     <img src="images/Logo.svg" alt="Logo" class="navbar-logo img-fluid">
   </a>




     <div class="container-fluid d-xl-none  m-0 p-0">
       <button
       class="navbar-toggler"
       type="button"
       data-bs-toggle="collapse"
       data-bs-target="#navbarNav1"
       aria-controls="navbarNav1"
       [attr.aria-expanded]="isMenuOpen"
       (click)="toggleMenu()"
       aria-label="Toggle navigation">
         <span class="toggler-icon"></span>
         <span class="toggler-icon"></span>
         <span class="toggler-icon"></span>
     </button>


       <ul class="flex-column  collapse navbar-collapse  justify-content-between   list-unstyled " id="navbarNav1">




         @for (parent of category; track parent.id ; let i =$index) {

          @if(parent.isParentCategory){
           <li class="nav-item">
             <div [class]="'nav-link  level'+parent.level +' ' +parent.id+'-toggle position-relative fade-in  text-dark'" data-bs-toggle="collapse" [attr.href]="'#Menu' + parent.id "  role="button" (click)="showing(parent.id,parent.level)" aria-expanded="false"  [attr.aria-controls]="parent.id + 'Menu'">
               <p class="ms-3 mt-3  d-inline-block ">{{parent.name}}</p>
               @if(parent.isParentCategory){
                 <span class="arrows">→</span>

               }
               <hr>

             </div>
             @if(parent.isParentCategory){
               <div [class]="'collapse ' +parent.id+'-content'" [id]="'Menu'+parent.id">
                 <h4 class="'collapse-header level0 centered position-relative bg-secondary bg-opacity-25 p-2" (click)="goBack(parent.id,parent.level)">
                   <span class="back-button position-absolute start-0 ms-3">←</span>
                 {{parent.name}}
                 </h4>


                 <ul class="nav flex-column sub-menu">
                   @for (child of parent.children; track child.id;let y =$index) {
                     @if (child.isParentCategory||child.name=="Bestsellers"||child.name=="الأكثر مبيعًا") {
                     <li  [class]="'nav-item level'+child.level+' fade-in p-1 '  +child.id+'-toggle'" data-bs-toggle="collapse" [attr.href]="'#Menu' + child.id "  role="button" (click)="showing(child.id,child.level)" aria-expanded="false"  [attr.aria-controls]="child.id + 'Menu'" [id]="child.id">
                       <p class="ms-2 mt1  d-inline-block   ">{{child.name}}
                     </p>
                     <span class=" position-absolute end-0 me-3">→</span>


                     <hr>

                   </li>
                 }
                 <!-- @else if(child.name=="Bestseller"||child.name=="الأكثر مبيعًا"){ -->
<!--
                  <li  [class]="'nav-item level'+child.level+' fade-in p-1 '  +child.id+'-toggle'" data-bs-toggle="collapse" [attr.href]="'#Menu' + child.id "  role="button" (click)="showing(child.id,child.level)" aria-expanded="false"  [attr.aria-controls]="child.id + 'Menu'" [id]="child.id">
                    <p class="ms-2 mt1  d-inline-block   ">{{child.name}}
                  </p>
                  <span class=" position-absolute end-0 me-3">→</span>


                  <hr>

                </li> -->
                  <!-- <a class="dropdown-item"  routerLinkActive="active_link" [routerLink]="['/single-product/',smaller.id]">{{smaller.name}}</a> -->

                <!-- } -->
                 @else {

                   <li  [class]="'nav-item level'+child.level+' fade-in p-1 '  +child.id+'-toggle'"  (click)="closeMenu()" data-bs-toggle="collapse" [attr.href]="'#Menu' + child.id "  role="button" [routerLink]="['/ProductCategory',parent.id+'-'+child.id]" aria-expanded="false"  [attr.aria-controls]="child.id + 'Menu'" [id]="child.id">
                     <p class="ms-2 mt1  d-inline-block   ">{{child.name}}
                   </p>

                   <hr>

                 </li>
                 }
                     @if (child.isParentCategory||child.name=="Bestsellers"||child.name=="الأكثر مبيعًا") {


                       <div [class]="'collapse ' +child.id+'-content'" [id]="'Menu'+child.id">
                         <h4 class="collapse-header  centered position-relative bg-secondary bg-opacity-25 p-2" (click)="goBack(child.id,child.level)">
                           <span class="back-button position-absolute start-0 ms-3">←</span>
                         {{child.name}}
                         </h4>


                         <ul class="nav flex-column sub-menu">

                           @for (grandChild of child.children; track grandChild.id;let x =$index) {
                            @if (child.name=="Bestsellers"||child.name=="الأكثر مبيعًا") {
                              <li  class="nav-item level2 fade-in p-3" (click)="closeMenu()" [routerLink]="['/single-product/',grandChild.id]"  >
                                {{grandChild.name}}

                               </li>
                               <hr>
                            }@else {

                              <li  class="nav-item level2 fade-in p-3" (click)="closeMenu()" [routerLink]="['/ProductCategory',child.id+'-'+grandChild.id]"  >
                                {{grandChild.name}}95

                               </li>
                               <hr>
                            }


                           }

                         </ul>
                         </div>
                       }


                   }

                 </ul>
               </div>
             }


           </li>
          }@else {

            <li class="nav-item" (click)="closeMenu()">
                      <div [class]="'nav-link  level'+parent.level +' ' +parent.id+'-toggle position-relative fade-in  text-dark'" data-bs-toggle="collapse" [attr.href]="'#Menu' + parent.id "  role="button"  aria-expanded="false"  [routerLink]="['/ProductCategory',parent.id]" [attr.aria-controls]="parent.id + 'Menu'">
                        <p class="ms-3 mt-3  d-inline-block ">{{parent.name}}</p>
                        <hr>
                      </div>
                    </li>
          }
         }

         <li class="nav-item nav-link level0" (click)="closeMenu()" routerLink="orders" >
           <p class="ms-3 mt-3  d-inline-block ">{{'navBar.Account'|translate}}</p>
           <hr>

         </li>

         <li class="nav-item nav-link level0" (click)="closeMenu()">
           <p class="ms-3 mt-3  d-inline-block "  >{{'navBar.help'|translate}} </p>
           <hr>

         </li>
         @if (local!=null){

         <li class="nav-item nav-link level0" (click)="logOut(); closeMenu() ">
           <p class="ms-3 mt-3  d-inline-block " >{{'navBar.SignOut'|translate}}</p>
           <hr>

         </li>
       }
       </ul>



     </div>







   <div class="container-fluid">
     <button class="navbar-toggler d-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="toggler-icon"></span>
       <span class="toggler-icon"></span>
       <span class="toggler-icon"></span>    </button>


     <div class="collapse navbar-collapse justify-content-between d-none m-0 p-0" id="navbarNav">

       <ul class="navbar-nav">
       <ul class="navbar-nav ">

         @for (child of category; track child.id ; let i =$index){
           @if (child.isParentCategory) {
             <li class="nav-item">
               <a class="nav-link dropdown-toggle" href="#" [id]="child.name+'Dropdown'"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
               {{child.name}}
               </a>

               <div class="dropdown-menu  " [attr.aria-labelledby]="child.name + 'Dropdown'">
                 <div class="row fade-in">
                     @for (kid of child.children; track  kid.id;let x= $index) {


                       @if(kid.name !="Featured"&& kid.name !="مميز"){
                           <div class="col-lg-2 col-md-12 mx-auto">
                           <h5>{{kid.name}}</h5>
                           @for (smaller of kid.children; track  smaller.id;let s= $index) {
                              @if(kid.name=="Bestsellers"||kid.name=="الأكثر مبيعًا"){

                                <a class="dropdown-item"  routerLinkActive="active_link" [routerLink]="['/single-product/',smaller.id]">{{smaller.name}}</a>

                              }@else {

                                <a class="dropdown-item"  routerLinkActive="active_link" [routerLink]="['/ProductCategory',kid.id+'-'+smaller.id]">{{smaller.name}}</a>
                              }
                           }

                         </div>
                         }@else {
                           <div class="col-lg-6 col-md-12">
                             <h5>{{kid.name}}</h5>
                               <div class="row">
                                   <div class="col-md-12 m-2">
                                     <div class="featured-image" [routerLink]="['/ProductCategory',child.id+'-'+kid.id]">
                                       <img src="images/protected.jpg" alt="Shop Men's Sale">
                                       <div class="text">{{kid.children?.at(0)?.name}}</div>
                                     </div>
                                   </div>
                                   <div class="col-md-12 m-2">
                                     <div class="featured-image" [routerLink]="['/ProductCategory',child.id+'-'+kid.id]">
                                       <img src="images/gift100.jpg" alt="Ultra-Soft Wool Sneaks">
                                       <div class="text">{{kid.children?.at(1)?.name}}</div>
                                     </div>
                                   </div>
                               </div>
                           </div>


                         }
                       }
                   </div>
                   </div>

             </li>

           }@else {

                    <li class="nav-item " >
                     @if(child.name=="Sale"){

                       <a class="nav-link text-danger" routerLinkActive="active_link" [routerLink]="['/ProductCategory',child.id]">{{child.name}}</a>
                     }@else {

                       <a class="nav-link text-dark" routerLinkActive="active_link" [routerLink]="['/ProductCategory',child.id]">{{child.name}}</a>
                     }

                 </li>
           }
         }


     </ul>
   </ul>


       <ul class="navbar-nav text-dark">
         <li class="nav-item ">
           <a class="nav-link text-dark d-none d-xxl-block " href="#">{{'navBar.sustainability'|translate}}</a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-dark" href="#">{{'navBar.rerun'|translate}}</a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-dark" href="#">{{'navBar.stores'|translate}}</a>
         </li>
       </ul>

     </div>
     <div class="d-flex align-items-center">
       <ul class="navbar-nav navbar-icons ms-auto d-flex flex-row " id="icons">
           <li class="nav-item ">
             <a class="nav-link"   (click)="toggleLanguage()"><i class="fas fa-globe text-dark"></i></a>
           </li>
           @if (!currentURl.includes('search')) {

         <li class="nav-item d-none d-md-block ">
           <a class="nav-link" (click)="goToSearch()"><i class="fas fa-search text-dark searchIcon"></i></a>
         </li>
       }
       @if (isLoggedIn()) {
         <li class="nav-item  d-none d-xl-block ">
           <a class="nav-link" routerLink="orders"><i class="fas fa-user text-dark"></i></a>
         </li>
       }@else {

         <li class="nav-item  d-none d-xl-block ">
           <a class="nav-link" routerLink="register"><i class="fas fa-user text-dark"></i></a>
         </li>
       }
         @if (local!=null){
           <li class="nav-item  d-none d-xl-block cart-icon ">
             <a class="nav-link" (click)="logOut()"> <i class="fas fa-sign-out-alt text-dark"></i> </a>

           </li>
         }

         <li class="nav-item cart-icon">
           <button class="nav-link position-relative"  (click)="sidebar.toggleSidebar()" >

             <!-- <a     > -->



               <i class="fas fa-shopping-cart text-dark"></i>

               <!-- <span class="border border-light rounded-circle" style="background-color:#ddbc00 ;"> </span> -->
             <!-- </a>  -->
           </button>


           <!-- <span class="badge bg-light text-dark ">+99</span> -->
         </li>

       </ul>
     </div>

   </div>
   @if (!currentURl.includes('search')) {

     <div  class="search-container d-flex justify-content-start align-items-center d-xl-none m-2 p-2 ">
       <a class="nav-link" ><i class="fas fa-search text-dark searchIcon2 "></i></a>
       <input class="form-control" (click)="goToSearch()" type="search" [placeholder]="'navBar.search'|translate" aria-label="Search" style=" margin-left: 10px;">
     </div>
   }
  </nav>


  <app-sidebar #sidebar></app-sidebar>


}






















