
<!--==============================================================================================

                                     Localization by AHMED ELGHOUL

 ==================================================================================================-->








<div  *ngIf="!showResetPasswordFormbool">
  <h3 class="mb-4" >{{'login.login'|translate}}</h3>
  <form  (ngSubmit)="check()"  #myform1="ngForm">

    <div class="form-group mb-3">
      <label for="email">{{'login.email'|translate}}</label>
      <input
      name="email"
      #EmaillogInp="ngModel"
      required
      [(ngModel)]="usernameCheck.Email" type="email" id="email" class="form-control shadow-none" />
      @if(EmaillogInp.invalid&&EmaillogInp.touched){
  @if (EmaillogInp.hasError("required")) {
    <div class="text-danger">{{'login.EmailRequired'|translate}}</div>
  }


      }
      @else if (!isEmailValid()&&EmaillogInp.touched) {


  <div class="text-danger">{{'login.mustContain'|translate}} &#64;</div>
      }
      </div>
      <div class="form-group mb-3">
        <label for="password">{{'login.password'|translate}}</label>
        <input
        required
        minlength="6"
        maxlength="40"
        name="password"
        #passwordlogInp="ngModel"
        [(ngModel)]="usernameCheck.Password" type="password" id="password" class="form-control shadow-none" />
        @if( passwordlogInp.invalid &&passwordlogInp.touched){
          @if(passwordlogInp.hasError("required")){<div class="text-danger">{{'login.PasswordRequired'|translate}}</div>}
          @if(passwordlogInp.hasError("minlength")){<div class="text-danger">{{'login.Minlength'|translate}} </div>
          }
              }
          @else if(!ispasswordvaild()&&passwordlogInp.touched){

            <div class="text-danger">{{'login.passwordLeast'|translate}} </div>
              }

      </div>

    <button type="submit" [disabled]="myform1.invalid||isCanLogin()" class="btn btn-dark btn-lg w-100">{{'login.login'|translate}}</button>

    <div style="display: flex; justify-content: center;" >

    <a > <button  class="forgetPassword"  type="button"  (click)="showResetPasswordForm()">{{'login.forgetPassword'|translate}}</button> </a>
    </div>
  </form>

</div>



<div  *ngIf="showResetPasswordFormbool">

        <div id="resetPasswordForm" class="form-group mb-3" >

          <h3>{{'login.resetPassword'|translate}}</h3>
          <p>{{'login.emailBackToReset'|translate}}</p>
          <form (ngSubmit)="onSubmit()" #myform2="ngForm">

            <div class="form-group mb-3">
              <label for="email">{{'login.email'|translate}}</label>
              <input
              name="email"
              #EmailforgetInp="ngModel"
              required
              [(ngModel)]="usernameCheck.Email" type="email" id="email" class="form-control shadow-none" />
              @if(EmailforgetInp.invalid&&EmailforgetInp.touched){
          @if (EmailforgetInp.hasError("required")) {
            <div class="text-danger">{{'login.EmailRequired'|translate}}</div>
          }


              }
              @else if (!isEmailValid()&&EmailforgetInp.touched) {


          <div class="text-danger">{{'login.emailMustContain'|translate}}&#64;</div>
              }
              </div>

            <button  id="Submitforget" type="submit" class="btn btn-dark btn-lg w-80" [disabled]="myform2.invalid||!isEmailValid()" >{{'login.submit'|translate}}</button><br>
            <button type="button"  class="btn btn-link cancel "  (click)="hideResetPasswordForm()">{{'login.Cancel'|translate}}</button><br>
          </form>
        </div>


