/* Enlarge input fields */
input.form-control {
  height: 50px;           /* Increase the height */
  font-size: 1.2rem;      /* Increase the font size inside the input */
}


h3 {
  font-size: 1.5rem;      /* Adjust heading size */
  color: #212121;            /* Match color to the original page */
  font-weight: bold;
}

p.text-center {
  font-size: 1rem;
  color: #666;
}





#submit:hover{

  background-color:white;
  border-radius:1px black;
color: black;


}

#Submitforget:hover{

  background-color:white;
  border-radius:1px black;
color: black;


}

/*  */
input{
  padding:30px 10px !important;
}
input:focus{

  border-color:black ;
  border-width: 3px;
}

.form-control{

  border-radius: 2px;
}

label{
  margin-bottom: .5rem;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 600;
  color: #171717;

}


.btn{
  margin-top:.5rem ;
  margin-bottom:.5rem ;
  border-radius: 0;
  background-color: #212121 ;
  font-weight: 700;
}
.btn:hover{

  background-color: white;
  color: #212121  ;
}


.btn:disabled {
  background-color: #212121;
  color: white;
  cursor: not-allowed;
  opacity: 1;
}


.forgetPassword{
  border: 0;
  text-decoration: underline;
}


button.cancel {
  background-color: transparent; /* إزالة الخلفية */
  border: none; /* إزالة الحدود */
  color: #212121; /* لون النص */
  cursor: pointer; /* تغيير مؤشر الفأرة */
}

button.cancel:hover {
  text-decoration: underline;
  background-color: transparent; /* إزالة الخلفية */
  /* إضافة تأثير عند التحويم إذا كنت ترغب */
}
