
  <!--==============================================================================================

                                     Localization by AHMED ELGHOUL

 ==================================================================================================-->





<div class="sidebar bg-light shadow-lg" [ngClass]="{'open': isOpen}">
  <button class="close-btn" (click)="toggleSidebar()">&times;</button>
  <p  class="free-shipping text-center text-muted">{{'sidebar.freeShipping'|translate}}</p>
  <div class="progres"></div><br>
  <h5 class="text-center">{{'sidebar.cartEmpty'|translate}}</h5>
  <div class="d-grid gap-2 mt-3">
    <button class="btn btn-outline-dark">{{'sidebar.cartEmpty'|translate}}</button>
    <button class="btn btn-outline-dark">{{'sidebar.shopMens'|translate}}</button>
    <button class="btn btn-outline-dark">{{'sidebar.shopWomens'|translate}}</button>
    <button class="btn btn-outline-dark">{{'sidebar.shopSocks'|translate}}</button>
    <button class="btn btn-outline-dark">{{'sidebar.shopMensSale'|translate}}</button>
    <button class="btn btn-outline-dark">{{'sidebar.shopWomensSale'|translate}}</button>
  </div>
</div>


