*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,*::before{
  margin: 0;
  padding: 0;
}
.noOrdersToDisplay{
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    z-index: 99999;
}
.noOrdersToDisplay h2{
  color: black;
}
.ordersContainer{
  margin: 4%;
  padding: 3%;
}

/* .en.ordersContainerRTL{
  direction: rtl;
}
.ar.ordersContainerRTL{
  direction: ltr;
} */
.titleAndSearchContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  margin-bottom: 25px;
}
.titleAndSearchContainer>h1{
  font-weight: bold;
}
.ordersSearchContainer {
  display: flex;
  align-items: start;
  width: 40%;
  padding-top:11px;
}
.ordersSearchInput {
  display: flex;
  align-items: center;
  border: 2px solid #c5c5c5;
  border-radius: 5px;
  padding: 2px;
  width: 100%;
  margin-right: 3%;
}
.ordersSearchInput input[type="text"] {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  font-weight: bold;
}
.ordersSearchIcon {
  margin-right: 5px;
}
.ordersNumberPerYear{
  font-weight: bold;
  margin-bottom: 15px;
}
#yearSelect{
  font-size: 14px;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc; /* Add bottom border for shadow effect */
  background-color: #e6e4e4; /* Gray background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add bottom shadow */
  border-radius: 5px;
  cursor: pointer;
  margin-left: 7px;
}
.orders-display-none{
  display: none;
}
@media (max-width: 991px) {
  .titleAndSearchContainer{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .titleAndSearchContainer>h1{
    margin-bottom: 10px;
  }
  .ordersSearchContainer{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .ordersSearchInput {
    margin-bottom: 7px;
    margin-right: 0px;
  }
  .ordersSearchButton {
    width: 100%;
    padding: 10px 10px;
  }
}
@media (max-width: 280px) {
  .ordersNumberPerYear{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #yearSelect{
    width: 50%;
    margin-top: 6px;
    margin-left: 0px;
  }
  .ordersSearchInput{
    margin-right: 0px;
    padding: 0px;
  }
  .ordersSearchInput input[type="text"] {
    width: 100%;
    padding: 0px;

  }

}
@media (max-width: 170px) {
  .ordersTabsNav,.ordersTabsNavButton{
    padding:0px;

  }

}

.errormsg {
  color: rgba(121, 121, 121, 0.789);
  text-align: center;
  font-size: 3rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-color: transparent;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;

}
.errormsg img {
  margin-left: 15px !important;
  margin-right: 15px !important;
  color: rgb(0, 0, 0);

}
