body {
  margin: 0;
  overflow-x: hidden;
}
.btn-search {

  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 20%;
  font-weight: 500;
  text-transform: capitalize;
}
input.form-control{
  padding: 1rem;
}

input:focus-within{
  border-width: 2px;
  border-color: black;
  box-shadow: none;
}
.btn-search:hover {

  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);

  border: 1px black solid;
  font-weight: 500;

}
.card-body {
  border-radius: 5px;
  transition: box-shadow 0.1s ease-in-out;
  border: none;
  font-family: "Open Sans", sans-serif;
  /* margin: 10px; لإضافة فراغات بين الكاردات */
}

.card-body:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}


.errormsg {
  color: rgba(121, 121, 121, 0.789);
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;

}
.errormsg img {
  margin-left: 15px !important;
  margin-right: 15px !important;
  color: rgb(0, 0, 0);

}
