<div class="container mb-5 mt-5">
  <div class="row mt-lg-5">
    <div class="input-group">
      <div class="input-group-append" style="width: 100%; text-align: center;">
        <input type="text" class="w-100 p-2 mt-3 mb-3 form-control" [placeholder]="'sidebar.productName'|translate" aria-label="Search input"
          #inpuValue aria-describedby="button-search">
        <button class="btn btn-search" (click)="OnSearch(inpuValue.value)" type="button"
          id="button-search">{{'navBar.search'|translate}}</button>
      </div>

      <ng-container *ngIf="loading">
        <app-loader></app-loader>
      </ng-container>

      <ng-container *ngIf="ProductCards && ProductCards.length > 0; else noProducts">
        <ng-container *ngFor="let prd of ProductCards; let i = index">
          <div class="card-body col-sm-5 col-md-5 col-lg-2 mt-5 mx-1"  [routerLink]="'/single-product/'+prd.id" >
            <img [src]="BaseImage + prd.mainImagePath" class="card-img-top p-3" alt="Product Image">
            <p class="card-text m-2 mt-3 p-1" style="font-weight: bolder;">{{ prd.name }}</p>
            <p class="card-text m-2 mt-3 p-1" style="font-weight: bolder;">{{ prd.colorName }}</p>
            <p class="card-text m-2 mt-3 p-1">{{ prd.price | currency: 'USD' }}</p>
          </div>
        </ng-container>
      </ng-container>

      <ng-template #noProducts>
        <p class="errormsg ">{{ Msg }}  <img *ngIf="Msg!=''" src="images/sad.png" alt="Frustrated Icon" style="width: 50px; height: 50px;">
        </p>
      </ng-template>

    </div>
  </div>
