

<h3 >Create an Account</h3>
<p >
  We never save credit card information.<br><br>
  Registering makes checkout fast and easy and saves your order information in your account.
</p>
<form  (ngSubmit)="Adduser()"  #myform="ngForm">
  <!-- <div>{{myform.valid|json}}</div> -->
  <div class="form-group mb-3">
    <label for="firstName">First Name</label>
    <input
    required="true"
    minlength="3"
    maxlength="40"
    name="firstName"
    #FirstNameInp="ngModel"
    [(ngModel)]="username.FirstName"
    type="text"
    id="firstName"
    class="form-control shadow-none"/>

    @if(FirstNameInp.invalid &&FirstNameInp.touched){
      @if(FirstNameInp.hasError("required")){<div class="text-danger"> Name is required </div>}
      @if(FirstNameInp.hasError("minlength")){<div class="text-danger">minlength less then  3 </div>
      }
          }


  </div>
  <div class="form-group mb-3">
    <label for="lastName">Last Name</label>
    <input
    required
    minlength="3"
    maxlength="40"
    name="lastName"
    #LastNameInp="ngModel"

    [(ngModel)]="username.LastName" type="text" id="lastName"   class="form-control shadow-none"  />
    @if(LastNameInp.invalid &&LastNameInp.touched){
      @if(LastNameInp.hasError("required")){<div class="text-danger"> Name is required </div>}
      @if(LastNameInp.hasError("minlength")){<div class="text-danger">minlength less then  3 </div>
      }
          }
  </div>
   <div class="form-group mb-3">
    <label for="email">Email</label>
    <input
    name="email"

    #EmailInp="ngModel"
    pattern="^[A-Za-z][A-Za-z0-9._%+-]{3,}@[A-Za-z0-9.-]+\.com$"
    required
    [(ngModel)]="username.Email" type="email" id="register-email"  class="form-control shadow-none" />
    @if(EmailInp.invalid&&EmailInp.touched){
@if (EmailInp.hasError("required")) {
  <div class="text-danger">Email is required</div>
}
@if (EmailInp.hasError("pattern")) {
  <div class="text-danger">Email must start with a letter, contain at least 4 characters before &#64; , and end with .com</div>
}
    }
    <!-- @else if (!isEmailValid()&&EmailInp.touched) {


<div class="text-danger">Email must contain &#64;</div>
    } -->
  </div>
  <div class="form-group mb-3">
    <label for="password">Password</label>
    <input
    required
    minlength="6"
    maxlength="40"
    name="password"
    #passwordInp="ngModel"
    [(ngModel)]="username.Password" type="password" id="register-password"   class="form-control shadow-none" />
    @if( passwordInp.invalid &&passwordInp.touched){
      @if(passwordInp.hasError("required")){<div class="text-danger"> Password is required </div>}
      @if(passwordInp.hasError("minlength")){<div class="text-danger">minlength less then  6 </div>
      }
          }
      @else if(!ispasswordvaild()&&passwordInp.touched){

        <div class="text-danger">password must contain at least one number </div>
          }
  </div>

  <div class="form-group mb-3">
    <label for="ConfirmPassword">Confirm Password</label>
    <input
    required
    minlength="6"
    maxlength="40"
    name="ConfirmPassword"
    #ConfirmpasswordInp="ngModel"
    [(ngModel)]="username.ConfirmPassword" type="password" class="form-control shadow-none" id="ConfirmPassword" >
    @if(ConfirmpasswordInp.invalid &&ConfirmpasswordInp.touched){

      @if(ConfirmpasswordInp.hasError("required")){<div class="text-danger"> Password is required </div>}
   @if(ConfirmpasswordInp.hasError("minlength")){<div class="text-danger">minlength less then  6 </div>
      }
          }


          @else if(!ispasswordvaild()&&ConfirmpasswordInp.touched){
            <div class="text-danger">password must contain at least one number </div>
              }
              @else if(username.ConfirmPassword!=username.Password){<div class="text-danger"> Confirm Password </div>}

  </div>

<!-- <h1>{{myform.invalid}} + {{isCansignup()}} </h1> -->

 <button  type="submit" id="asd" class="btn btn-dark btn-lg w-100"  [disabled]="myform.invalid||isCansignup()">Register</button>
  <br><br>
  <p class="text-center text-muted small">* REQUIRED FIELDS</p>
</form>



