
        <div class="container-fluid checkout-page ">
            <div class="navbar-wrapper">
                <nav class="navbar">
                    <div class="navbar-content">
                        <div class="logo-container ms-5 me-5">
                            <a href="">
                                <img src="images/Allbirds.Logo.Black.RGB.Large_x320.webp" alt="Allbirds Logo" class="navbar-logo" />
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row ms-5 ">
                <!-- Left Section: Form -->
                <div class="col-md-6 mb-4 ps-5 pe-5">
                    <!-- Contact Section -->
                    <!-- <div class="d-flex justify-content-between mt-4">
                        <h4>Contact</h4>
                        <a href="#" class="text-right text-dark">Login</a>
                    </div> -->
                    <form [formGroup]="checkoutForm" (ngSubmit)="submitForm()" autocomplete="off" class="rtl">
                        <!-- <div class="form-group">
                            <div class="form-floating">
                                <input
                                    #input
                                    type="email"
                                    class="form-control shadow-none"
                                    id="emailInput"
                                    placeholder="Email"
                                    required
                                    formControlName="email">
                                <label for="emailInput" class="text-secondary">Email</label>
                            </div>
                            
                            <p *ngIf="checkoutForm.get('email')?.dirty && checkoutForm.get('email')?.invalid" class="text-danger">
                                Enter a valid email address
                            </p>
                        </div>
                        
                        <div class="form-check">
                            <input type="checkbox"
                                class="form-check-input custom-checkbox-black shadow-none rounded-0"
                                id="emailOffers"
                                required
                                >
                                
                            <label class="form-check-label "
                                for="emailOffers">Email me with news and
                                offers</label>
                        </div> -->
                        <!--  -->
                        <!-- Delivery Section -->
                        <h4 class="mt-4">Delivery</h4>
                        <!-- <div class="form-group">
                            <div class="input">
                            <div class="form-floating">
                                <select #input class="form-control shadow-none" required>
                                    <option value="" disabled selected hidden></option>
                                    <option>Country/Region</option>
                                    <option>Egypt</option>
                                </select>
                                <label for="input">Country/Region</label>
                            </div>
                            
                            <i class="fas fa-chevron-down custom-select-icon" style="margin-left: 520px; margin-right: 520px;"></i>
                        </div>
                    </div> -->
                        <div class="form-row">
                            <div class="col ">
                                <div class="form-floating">
                                    <input #input type="text"
                                           class="form-control shadow-none"
                                           placeholder=" "
                                           name="firstName"
                                           required
                                           formControlName="firstName"
                                           id="fn"
                                           >
                                    <label for="fn" class="text-secondary">First name</label>
                                </div>
                                <p *ngIf="checkoutForm.get('firstName')?.dirty && checkoutForm.get('firstName')?.invalid" class="text-danger">
                                    Enter a first name
                                </p>  
                            </div>
                            
                            <div class="col">
                                <div class="form-floating">
                                    <input #input type="text"
                                           class="form-control shadow-none"
                                           placeholder=" "
                                           required
                                           id="ln"
                                           formControlName="lastName">
                                    <label for="ln" class="text-secondary">Last name</label>
                                </div>
                                <p *ngIf="checkoutForm.get('lastName')?.dirty && checkoutForm.get('lastName')?.invalid" class="text-danger">
                                    Enter a last name
                                </p>
                            </div>
                            
                        </div>
                        <!-- <div class="form-group">
                            <div class="input">
                                <div class="form-floating">
                                <input #input type="text"
                                    class="form-control shadow-none"
                                    placeholder=""
                                    id="comp"
                                    >
                                    <label for="comp" class="text-secondary">Company (required for business addresses)</label>
                            </div>
                            </div>
                            

                        </div> -->
                        <div class="form-group">
                            <div class="input">
                            <div class="form-floating">
                                <input #input type="text"
                                       class="form-control shadow-none"
                                       placeholder=" "
                                       required
                                       id="addr"
                                       formControlName="address">
                                <label for="addr" class="text-secondary">Address</label>
                            </div>
                            <i class="fas fa-search custom-select-icon text-secondary" style="margin-left: 520px; margin-right: 520px;"></i>
                            <p *ngIf="checkoutForm.get('address')?.dirty && checkoutForm.get('address')?.invalid" class="text-danger">
                                Enter an address
                            </p>
                        </div>

                        </div>
                        <!-- <div class="form-group">
                            <div class="input">
                            <div class="form-floating">
                                <input #input type="text"
                                       class="form-control shadow-none"
                                       placeholder=" "
                                       id="apart"
                                       formControlName="apartment">
                                <label for="apart" class="text-secondary">Apartment, suite, etc. (optional)</label>
                            </div>
                            
                        </div>
                    </div> -->
                        
                        <div class="form-row">
                            <div class="col">
                                <div class="form-floating">
                                    <input #input type="text"
                                           class="form-control shadow-none"
                                           placeholder=" "
                                           required
                                           id="city"
                                           formControlName="city">
                                    <label for="city" class="text-secondary">City</label>
                                </div>
                                <p *ngIf="checkoutForm.get('city')?.dirty && checkoutForm.get('city')?.invalid" class="text-danger">
                                    Enter a city
                                </p>
                            </div>
                            
                            <!-- <div class="col">
                                <div class="form-group">
                                    <div class="input">
                                        <div class="form-floating">
                                            <select #input class="form-control shadow-none" required formControlName="state">
                                                <option value="" disabled selected hidden></option>
                                                <option value="AL">Egypt</option>
                                                <option value="NV">Syria</option>
                                            </select>
                                            <label for="input">State</label>
                                        </div>
                                        
                                        <i class="fas fa-chevron-down custom-select-icon"></i>
                                    </div>
                                </div>
                                

                            </div> -->
                            <div class="col">
                                <div class="form-floating">
                                    <input #input type="text"

                                           class="form-control shadow-none"
                                           placeholder=" "
                                           required
                                           id="zipcode"
                                           formControlName="zipCode">
                                    <label for="zipcode" class="text-secondary">ZIP code</label>
                                </div>
                                <p *ngIf="checkoutForm.get('zipCode')?.dirty && checkoutForm.get('zipCode')?.invalid" class="text-danger">
                                    Enter a ZIP / postal code
                                </p>
                            </div>
                            
                        </div>
                        <!--  -->
                        <!-- <div class="form-check">
                            <input type="checkbox"
                                class="form-check-input shadow-none custom-checkbox-black rounded-0"
                                id="textOffers" formControlName="textOffers"
                                (change)="toggleMobileNumberField()">
                            <label class="form-check-label "
                                for="textOffers">Text me with news and
                                offers</label>
                        </div> -->

                        <!-- Mobile Number with Country Code -->
                        <div class="form-group mt-4" *ngIf="showMobileField">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <select class="custom-select"
                                        [(ngModel)]="selectedCountryCode">
                                        <option
                                            *ngFor="let code of countryCodes"
                                            [value]="code.code">
                                            {{ code.name }} ({{ code.code }})
                                            
                                        </option>
                                    </select>
                                </div>
                                <input type="number"
                                    class=" form-control shadow-none"
                                    placeholder="Mobile number"
                                    required
                                    
                                   >
                           <div class="text-secondary" style="font-size: 0.9em; line-height: 1.5em;">
    <p>
        <span>
            By submitting this form, you agree to receive recurring automated promotional and personalized
            marketing text messages (e.g., cart reminders) from Allbirds at the cell number used when signing up. 
            Consent is not a condition of any purchase. Reply HELP for help and STOP to cancel. Msg frequency 
            varies. Msg and data rates may apply. View our 
            <a href="#" style="color: black; text-decoration: underline;">Privacy Policy</a> & 
            <a href="#" style="color: black; text-decoration: underline;">Terms of Service</a>.
        </span>
    </p>
</div>

                            </div>
                        </div>
 <!-- Payment Section -->
<h4 class="mt-4">Payment</h4>
<p class="text-secondary">All transactions are secure and encrypted.</p>

<!-- COD Payment Method -->
<div class="payment-methods border p-3"
     [ngClass]="{'selected-bg': selectedPaymentMethod === 'cod'}"
     (click)="selectPaymentMethod('cod')">

    <!-- COD Payment Option Selection -->
    <div class="form-check d-flex align-items-center p-3 mb-4"
         style="border: solid 1px gray;">
        <input
            class="form-check-input custom-radio-black mt-0 mx-1"
            type="radio" name="paymentMethod"
            id="cod"
            value="cod"
            formControlName="paymentMethod"
            (change)="selectPaymentMethod('cod')">
        <label class="form-check-label mb-0 ms-2" for="cod">
            Cash on Delivery
        </label>
    </div>

    <!-- COD Summary Section -->
    <div class="cod-summary mt-3" *ngIf="checkoutForm.get('paymentMethod')?.value === 'cod'">
        <!-- Item Breakdown -->
        <div class="d-flex justify-content-between mb-2">
            <span>Items:</span>
            <span>EGP 500.00</span>
        </div>

        <!-- Shipping and Handling -->
        <div class="d-flex justify-content-between mb-2">
            <span>Shipping & Handling:</span>
            <span>EGP 50.00</span>
        </div>

        <!-- Free Delivery Notice -->
        <div class="d-flex justify-content-between mb-2 text-success">
            <span>Free Delivery:</span>
            <span>Available</span>
        </div>

        <!-- Order Total -->
        <div class="d-flex justify-content-between mt-3">
            <span class="fw-bold">Order Total:</span>
            <span class="fw-bold">EGP 550.00</span>
        </div>
    </div>

    <!-- COD Information -->
    <div class="cod-info text-secondary mt-3" *ngIf="checkoutForm.get('paymentMethod')?.value === 'cod'">
        <p>Please have the exact amount ready. Additional fees may apply for COD services.</p>
    </div>
</div>

<!-- PayPal Payment Method -->
<div class="payment-methods border p-3 mt-3"
     [ngClass]="{'selected-bg': selectedPaymentMethod === 'paypal'}"
     (click)="selectPaymentMethod('paypal')">

    <!-- PayPal Payment Option Selection -->
    <div class="form-check d-flex align-items-center p-3 mb-4" style="border: solid 1px gray;">
        <input
            class="form-check-input shadow-none custom-radio-black mx-1"
            type="radio" name="paymentMethod"
            id="paypal"
            value="paypal"
            formControlName="paymentMethod"
            (change)="selectPaymentMethod('paypal')">
        <label class="form-check-label ms-2 me-2" for="paypal">PayPal</label>
    </div>
</div>

<!-- Conditional Rendering for PayPal Button or COD Button -->
<div *ngIf="isPayPalSelected; else regularPayButton">
    <ngx-paypal [config]="payPalConfig">Pay with PayPal</ngx-paypal>
</div>

<ng-template #regularPayButton>
    <button type="submit" class="btn pay-button mt-3 rounded-0">
        {{ payButtonText }}
    </button>
</ng-template>


                        <!-- Bootstrap JS (Optional) for Tooltip -->
                        <script>
                        $(function () {
                            $('[data-toggle="tooltip"]').tooltip()
                        })
                    </script>

                        
                    </form>
                </div>
                <!-- summary -->
                @if (userCart != null) {
                  <div class="order-summary col-md-6">
                    <div class="d-flex flex-column justify-content-between align-items-start">
                      <!-- Item Info -->
                      @for (detail of userCart.orderDetails; track detail.id) {
                        <div class="d-flex">
                          <span class="badge-item me-2"><img [src]="baseImagePath + '' + detail.imagePath" alt="Product image" width="50"></span>
                          <div>
                            <p class="product-title m-2">{{detail.productNameEn}}</p>
                            <p class="product-subtitle text-muted m-0">{{detail.colorNameEn}}</p>
                            <p class="product-size text-muted">{{detail.sizeNumber}}</p>
                          </div>
                          <div>
                            <div class="d-flex justify-content-between mb-4">
                              <p class="d-flex ms-5">${{detail.detailPrice}}</p>
                            </div>
                          </div>
                        </div>
                      }
                    </div>
                    <div class="col-9">
                      <!-- Discount Code Input -->
                      <div class="discount-code">
                        <input #input type="text" class="discount shadow-none p-3 w-75  border " placeholder="Gift card or discount code" />
                        <button class="btn apply-btn ms-4 p-3" type="button">Apply</button>
                      </div>
                      <!-- Subtotal and Shipping -->
                      <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted mt-4">Subtotal</p>
                        <p class="mt-3">${{userCart.total}}</p>
                      </div>
                      <div class="d-flex justify-content-between mb-4">
                        <p class="text-muted mb-0">Shipping</p>
                        <p class="shipping-placeholder text-muted mb-0">Enter shipping address</p>
                      </div>
                      <!-- Total -->
                      <div class="d-flex justify-content-between total-section">
                        <p class="fw-bold mb-0">Total</p>
                        <p class="total-amount mb-0">USD <span class="fw-bold">${{userCart.total}}</span></p>
                      </div>
                    </div>
                  </div>
                }
            </div>
        </div>
      