.mobile-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  z-index: -1;
}

.mobile-filter {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #ffffff !important;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0,0,0,0.1);
  z-index: 1000;
  width: 50%;
  transform: none;
  overflow-y: auto;
  animation: slideIn 0.3s ease-out;
}
/* .filter-btn button{

  border: 1px solid rgb(204, 204, 204);
  border-radius: 30px;
  font-size: medium;
  background-color: white;
  font-weight: 500;
  padding: 5px 10px;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
} */

.filter-btn{
  margin: 20px 0;
  text-align: center;
}
.filter-btn button {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  border: 1px solid #959595;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter-btn button:hover {
  background-color: #2d2f31;
  color: white;
}

.filter-btn button:focus {
  outline: none;
}


.cc {
  display: inline-block; /* Ensures cards don’t take full width */
  vertical-align: top;
  width: 100%; /* Optional: allows responsive width */
}
